<!DOCTYPE html>
<html lang="en">
<head>
     {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>

        <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <div >
        <a id="header" href="{% url 'home' %}"><h2>Learn & Apply</h2></a>
    </div>
    <div>
        <h2 style="text-align: center; color: thistle;">learn >> practice >> learn from practice</h2>
    </div>

    <div id="container">
        {% for post in object_list %}
        <div id="left">
           <h3 style="color: gray;">{{post.created_on | date:'M d'}}</h3>
        </div>
        <div id="right">
            <h2><a id="posts" href="{% url 'detail' post.pk %}" style="color: thistle;">{{post.title}}</h2></a>
        </div>
    </div>
    <hr>
    {% endfor %}
</body>
</html>